{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qualisto</title>

    <link rel="stylesheet" href="{% static 'evaluator/css/style.css' %}">
</head>

<body>

    <div class="container">

        <h1>Qualisto</h1>

        <p class="subtitle">
            Evaluate AI-generated webpages for prompt alignment, SEO quality,
            technical health, search quality, and factual correctness.
        </p>

        <!-- <form>

            <label>User Prompt</label>

            <textarea
                placeholder="Example: Create a travel guide website about Bali with information on beaches, local cuisine and attractions."></textarea>

            <label>Website URL</label>

            <input type="url" placeholder="https://example.com">

            <button type="submit">
                Evaluate Webpage
            </button>

        </form> -->

        <form method="POST">

    {% csrf_token %}

    <label>User Prompt</label>

    <textarea
        name="user_prompt"
        rows="8"
    >{{ user_prompt }}</textarea>


    <label>Website URL</label>

    <input
        type="url"
        name="website_url"
        value="{{ website_url }}"
        required>

    <button type="submit">

        Evaluate Website

    </button>

</form>
{% if error %}

<div class="error">

    {{ error }}

</div>

{% endif %}

{% if content %}

<hr>

<h2>Extraction Result</h2>

<p><strong>Title:</strong> {{ content.title }}</p>

<p><strong>Meta Description:</strong> {{ content.meta_description }}</p>

<p><strong>H1:</strong></p>

<ul>

{% for item in content.headings.h1 %}

<li>{{ item }}</li>

{% endfor %}

</ul>

<p><strong>H2:</strong></p>

<ul>

{% for item in content.headings.h2 %}

<li>{{ item }}</li>

{% endfor %}

</ul>

<p><strong>Paragraphs:</strong></p>

<ul>

{% for p in content.paragraphs %}

<li>{{ p }}</li>

{% endfor %}

</ul>

<p><strong>Links:</strong></p>

<ul>

{% for link in content.links %}

<li>

{{ link.text }}

—

{{ link.href }}

</li>

{% endfor %}

</ul>

<p><strong>Images:</strong></p>

<ul>

{% for image in content.images %}

<li>

{{ image.src }}

—

{{ image.alt }}

</li>

{% endfor %}

</ul>

{% endif %}

        <div class="footer">
            Presto AI Evaluation Engine
        </div>

    </div>

</body>

</html>